extends layout

block setup
	link(rel="stylesheet", href="/stylesheets/quill.snow.css")

block content
	div.container
		div#question
			input#questionId(type="hidden", value=data.question.id)
			h1= title
			span.dated= new Date(data.question.added).toString().substr(0, 24)
			p!= data.question.description
			span.rating [#{data.question.rating}]&nbsp;
			-if (account) {
				span
					span [
					span.fakeLink(onclick="questionVote(true)") Vote UP
					span ]&nbsp;
				span
					span [
					span.fakeLink(onclick="questionVote(false)") Vote DOWN
					span ]&nbsp;
				-if (data.question.userId === account.id) {
					span
					span [
					a(href="/edit/question/" + data.question.id) Edit
					span ]
				-}
			-}
		br
		hr
		each answer in data.answers
			div.answer(id="answer-" + answer.id)
				strong= users[answer.userId].username
				span.dated= ' - ' + new Date(answer.added).toString().substr(0, 24)
				br
				p!= answer.answer
				span.rating [#{answer.rating}]&nbsp;
				-if (account) {
					span
						span [
						span.fakeLink(onclick="answerVote(" + answer.id + ", true)") Vote UP
						span ]&nbsp;
					span
						span [
						span.fakeLink(onclick="answerVote(" + answer.id + ", false)") Vote DOWN
						span ]&nbsp;
					-if (answer.userId === account.id) {
						span
						span [
						a(href="/edit/answer/" + answer.id) Edit
						span ]
					-}
				-}
		-if (account) {
			hr
			form#answerForm(action=`/answer/${data.question.id}`, method="post")
				p Submit your own answer below:
				div#answer
				input#hiddenAnswer(name="answer", type="hidden", value="")
				br
				input.btn.btn-primary(type="submit", value="Answer!")
		-}

block scripts
	-if (account) {
		script(src="/javascripts/quill.js")
		script(src="/javascripts/answer.js")
	-}